.form-module {
    form {
        // background: white;
        // box-shadow: 0 1px 3px #c1c1c1;
        // border-radius: 4px;
        // padding: 32px 40px;
        margin: 40px auto 30px auto;
        .form-header {
            // margin-bottom: 70px;
            text-align: center;
        }
        .form-section {
            margin-top: 90px;
            .section-header {
                font-size: 1.3rem;
                display: flex;
                margin-bottom: 10px;
                .header-text {
                    padding-right: 2rem;
                    z-index: 1;
                }
                .header-divider {
                    height: 3px;
                    // background-color: $brand-gray-500;
                    // background-color: #7c8a9c;
                    background-color: $brand;
                    top: 50%;
                    z-index: 2;
                }
            }
            &:first-of-type {
                margin-top: 40px;
            }
        }
        .form-action {
            margin-top: 80px;
        }
    }
}