#app-header {
    grid-area: header;
	position: sticky;
	top: 0;
	z-index: 98;
	.skip-navigation {
		position: absolute;
		top: -2rem;
		left: 0;
		border: 1px solid $brand;
		border-radius: $radius-input;
		background-color: $white;
		padding: 2px 12px;
		outline: none;
		z-index: 99;
		transition: linear 0.1s all;
		&:focus {
			top: 0;
		}
	}
	.navbar {
		background-color: $brand;
		padding: 0;
		.navbar-brand {
            padding: 0;
			margin: 0 0.4rem;
            border-radius: $radius-element;
            img {
				width: 2rem;
				height: auto;
				border-radius: $radius-element;
                overflow: hidden;
                user-select: none;
			}
		}
		.navbar-toggler {
			padding: 0.84rem 1rem;
			color: $white;
			font-size: 1.1rem;
			border: 2px solid $brand;
			border-radius: 0;
            transition: linear 0.3s all;
            user-select: none;
			&:focus {
				background-color: $white;
				color: $brand;
				outline: none;
            }
            .toggler-text {
                position: relative;
                top: 1px;
            }
			svg {
				position: relative;
				top: -1px;
				transition: linear 0.15s all;
			}
		}
		.navbar-toggler-expand {
			background-color: $white;
			color: $brand;
			svg {
				transform: rotate(180deg);
			}
		}
		.navbar-popup {
			position: absolute;
			right: 0;
			top: 41px;
			background-color: $white;
			color: $black;
			border-width: 2px;
			border-style: solid;
			border-color: $brand;
			border-radius: 0 0 $radius-element $radius-element;
			z-index: 99;
			opacity: 0;
			transition: linear 0.05s all;
			pointer-events: none;
			&:focus, &:hover {
				top: 41px;
				opacity: 1;
				pointer-events: auto;
			}
			.navbar-nav .nav-item {
                border-bottom: 1px solid $brand-gray-400;
                .nav-link {
                    padding: 10px 70px 10px 30px;
                    color: $brand;
                    font-size: 1.15rem;
                    line-height: 1.15rem;
                    transition: linear 0.05s all;
                    user-select: none;
                    &:focus, &:hover {
                        background-color: $brand-gray-200;
                        outline: none;
                    }
                    svg {
                        position: relative;
                        top: -1px;
                    }
                    .link-text {
                        margin-left: 4px;
                    }
                }
			}
		}
		.navbar-popup-show {
			top: 41px;
			opacity: 1;
			pointer-events: auto;
		}
	}
}