label,
legend {
    width: 100%;
    // font-size: 1rem;
    font-size: .95rem;
    user-select: none;
    margin-bottom: 2px;
    border-radius: $radius-input;
    transition: linear 0.1s box-shadow;
}

input[type="text"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime-local"] {
    background-color: $white;
    width: 100%;
    padding: 0.35rem 0.75rem;
    border: 1px solid $brand-third;
    border-radius: $radius-input;
    font-size: 1.05rem;
    transition: linear 0.1s box-shadow;
    // box-shadow: 1px 1px 1px #e4e4e4 inset;
    &:focus {
        outline: none;
        // box-shadow: 0 0 0 #e4e4e4 inset, 0 0 3px $brand-secondary;
        // box-shadow: 0 0 0 #e4e4e4 inset, 0 2px 2px $brand-flair;
        box-shadow: 0 2px 2px $brand-secondary;
        // box-shadow: 0 2px 2px $brand-flair;
    }
}
textarea {
    @extend input[type="text"];
    resize: vertical;
    min-height: 7rem;
}
select {
    @extend input[type="text"];
    padding: 0.425rem 0.5rem;
}
input[type="file"] {
    @extend input[type="text"];
    padding: 0.3rem 0.25rem;
}
input[type="color"] {
    @extend input[type="text"];
    height: 2.5rem;
}
input[type="range"] {
    width: 100%;
    padding: 0.35rem 0;
}
input[type="checkbox"],
input[type="radio"] {
    width: 0;
    height: 0;
    visibility: visible;
    opacity: 0;
    &:checked {
        + label > .label-box-display > svg {
            opacity: 1;
        }
    }
    &:focus {
        + label {
            box-shadow: 0 0 4px $brand;
        }
    }
}
input[type="checkbox"] {
    + label > .label-box-display {
        border-radius: $radius-input;
    }
}
input[type="radio"] {
    + label > .label-box-display {
        border-radius: $radius-input-radio;
    }
}
.input-set {
    margin: 14px 0;
}
.label-box-display {
    background-color: $white;
    display: inline-block;
    border: 1px solid $gray;
    user-select: none;
    cursor: pointer;
    svg {
        opacity: 0;
        transition: linear 0.05s all;
    }
}
.label-text {
    margin-left: 0.25rem;
}